users:
  - name: "neon_api_utils"
    password: "Klatchat2021"
    tags: [ ]
  - name: "neon_metrics"
    password:
    tags: [ ]
  - name: "neon_coupons"
    password:
    tags: [ ]
  - name: "neon_email"
    password:
    tags: [ ]
  - name: "neon_script_parser"
    password:
    tags: [ ]
  - name: "neon_api"
    password:
    tags: [ ]
  - name: "neon_libretranslate"
    password:
    tags: [ ]
vhosts:
  - name: "/neon_emails"
  - name: "/neon_api"
  - name: "/neon_script_parser"
  - name: "/neon_metrics"
  - name: "/neon_coupons"
  - name: "/neon_testing"
  - name: "/translation"
permissions:
  - user: "neon_libretranslate"
    vhost: "/translation"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_api_utils"
    vhost: "/neon_coupons"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_email"
    vhost: "/neon_emails"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_api_utils"
    vhost: "/neon_emails"
    configure: ".*"
    write: ".*"
    read: "^(?!neon_emails_input).*"
  - user: "neon_api"
    vhost: "/neon_api"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_api_utils"
    vhost: "/neon_metrics"
    configure: ".*"
    write: ".*"
    read: ""
  - user: "neon_api_utils"
    vhost: "/neon_api"
    configure: "./*"
    write: "./*"
    read: "./*"
  - user: "neon_api_utils"
    vhost: "/neon_script_parser"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_script_parser"
    vhost: "/neon_script_parser"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_metrics"
    vhost: "/neon_metrics"
    configure: ".*"
    write: ".*"
    read: ".*"
  - user: "neon_api_utils"
    vhost: "/neon_testing"
    configure: "./*"
    write: "./*"
    read: "./*"
  - user: "neon_coupons"
    vhost: "/neon_coupons"
    configure: ".*"
    write: ".*"
    read: ".*"