containerPort: &default_port "4430"
domain: diana.k8s
libretranslate:
  subdomain: &host_libretranslate libretranslate
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:
endpoint-hana:
  subdomain: &host_hana hana
  servicePort: *default_port
  ingress:
    enabled: False
stt-nemo:
  subdomain: &host_nemo nemo
  servicePort: *default_port
  ingress:
    enabled: False
tts-coqui:
  subdomain: &host_coqui coqui
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:
tts-glados:
  replicaCount: 0
  subdomain: &host_glados glados
  servicePort: *default_port
  ingress:
    enabled: False
  image.tag:
tts-larynx:
  subdomain: &host_larynx larynx
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:
tts-ljspeech:
  subdomain: &host_ljspeech ljspeech
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:
tts-mozilla:
  subdomain: &host_mtts mtts
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:
tts-nancy:
  subdomain: &host_nancy nancy
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:
ww-snowboy:
  subdomain: &host_snowboy snowboy
  servicePort: *default_port
  ingress:
    enabled: False
#  image.tag:

ingress:
  enabled: True
  ingressClassName: nginx
  tlsSecretName: tls-letsencrypt-prod
  certIssuer: letsencrypt-private-key
  rules:
    - host: *host_hana
      serviceName: endpoint-hana
      servicePort: *default_port
    - host: *host_hana
      serviceName: backend-nemo
      servicePort: *default_port
    - host: *host_libretranslate
      serviceName: backend-libre
      servicePort: *default_port
    - host: *host_coqui
      serviceName: backend-coqui
      servicePort: *default_port
    - host: *host_glados
      serviceName: tts-glados
      servicePort: *default_port
    - host: *host_larynx
      serviceName: backend-larynx
      servicePort: *default_port
    - host: *host_ljspeech
      serviceName: backend-ljs
      servicePort: *default_port
    - host: *host_mtts
      serviceName: backend-mozilla
      servicePort: *default_port
    - host: *host_nancy
      serviceName: backend-nancy
      servicePort: *default_port
    - host: *host_snowboy
      serviceName: backend-snowboy
      servicePort: *default_port
  extraRules: []